.postItem {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  margin-bottom: 10px;
}

.postItem h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.postItem p {
  margin: 0;
  color: #555;
}

.postItem img {
  width: 200px;
  height: 150px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .postItem img {
    margin-top: 0;
  }

  .postList h2,
  .postList li {
    margin-left: 0;
  }
}
