.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px;
  height: 50px;
  color: white;
}

.navbarLogo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbarLinks {
  display: flex;
  align-items: center;
}

.navbarLinks a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.navbaLinks a:hover {
  text-decoration: underline;
}

.navbar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;

  transition: background-color 0.2s ease-in-out;

  font-family: sans-serif, Arial, Helvetica;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
