.heroSection {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.heroImage {
  filter: blur(20px);
  transition: filter 0.5s ease;
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

.imageLoaded {
  filter: blur(0);
}

.heroDescription {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
